<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.plan.mapper.TestPlanEmailConfigMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.plan.domain.TestPlanEmailConfig">
    <id column="test_plan_id" jdbcType="VARCHAR" property="testPlanId" />
    <result column="email_recipients" jdbcType="VARCHAR" property="emailRecipients" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    test_plan_id, email_recipients, create_time, update_time, create_user, update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_plan_email_config
    where test_plan_id = #{testPlanId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from test_plan_email_config
    where test_plan_id = #{testPlanId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByTestPlanIds" parameterType="java.util.List">
    delete from test_plan_email_config
    where test_plan_id in
    <foreach collection="list" item="testPlanId" open="(" separator="," close=")">
      #{testPlanId,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <insert id="insert" parameterType="io.metersphere.plan.domain.TestPlanEmailConfig">
    insert into test_plan_email_config (test_plan_id, email_recipients, create_time, update_time, create_user, update_user)
    values (#{testPlanId,jdbcType=VARCHAR}, #{emailRecipients,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
            #{updateTime,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.plan.domain.TestPlanEmailConfig">
    insert into test_plan_email_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testPlanId != null">
        test_plan_id,
      </if>
      <if test="emailRecipients != null">
        email_recipients,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testPlanId != null">
        #{testPlanId,jdbcType=VARCHAR},
      </if>
      <if test="emailRecipients != null">
        #{emailRecipients,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.plan.domain.TestPlanEmailConfig">
    update test_plan_email_config
    <set>
      <if test="emailRecipients != null">
        email_recipients = #{emailRecipients,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where test_plan_id = #{testPlanId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.metersphere.plan.domain.TestPlanEmailConfig">
    update test_plan_email_config
    set email_recipients = #{emailRecipients,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=BIGINT},
        update_user = #{updateUser,jdbcType=VARCHAR}
    where test_plan_id = #{testPlanId,jdbcType=VARCHAR}
  </update>
</mapper>
